<!-- Hero -->
<html>
<body>
<section class="et-hero-tabs">
    <div class="split-slideshow">
      <div class="slideshow">
        <div class="slider">
          <div class="item">
            <img src="MacBook.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-biodata">BIODATA</a>
      <a class="et-hero-tab" href="#tab-story">SHORT STORY</a>
      <a class="et-hero-tab" href="#tab-hobby">HOBBY</a>
      <a class="et-hero-tab" href="#tab-contact">CONTACT</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>
  <main class="et-main">
    <section class="et-slide" id="tab-biodata">
      <h1>BIODATA</h1><br>
      <h3>Name : Nadhifah Hanan</h3>
      <h3>Place of Birth : Jakarta</h3>
      <h3>Date of Birth : 21st March 1998</h3>
      <h3>Addreess : Pesona Khayangan Blok ET no.8</h3>
    </section>
    <section class="et-slide" id="tab-story">
      <h1>SHORT STORY</h1><br>
      <h3>I'm the first children of two in my family.</h3>
      <h3>I grew up in Depok since i was a baby.</h3>  
      <h3>I attend elementary school, jhs, and shs in Depok</h3>    
      <h3>Now i'm on my third year as a Computer Science student</h3>
      <h3>in Universitas Indonesia</h3>    
      <h3>I love to socialize with my surroundings.</h3>
      <h3>I love to make lots of friends and learn something new.</h3>
      <h3>I joined college organization and be a part of art and culture department twice</h3>    
      <h3>I experienced a lot of things in the past and now it is time for me to face the real world challenge</h3>
      <h3>and becoming better as a person especially in this industry. </h3>
      <h3>I hope i can get more knowledge everyday and</h3>
      <h3>experience more challenging phase in my future life.</h3>
    </section>
    <section class="et-slide page" id="tab-hobby">
      <h1>HOBBY</h1><br>
      <h3>Listen to musics</h3>
      <h3>Watch movies</h3>
      <h3>Drawing</h3>
      <h3>Hang out with friends</h3>
      <h3>Try something exciting</h3>
    </section>
    <section class="et-slide" id="tab-contact">
      <h1>CONTACT</h1>
      <h3>Phone : 082112084742</h3>
      <h3>Line : nadhifahhanan</h3>
      <h3>Instagram : @nadhifahhnn</h3>
    </section>
  </main>
  <footer id="footer" class="footer-m">
    <p >
      About Me - Nadhifah Hanan
    </p>
  </footer>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
  <link rel="stylesheet/scss" type="text/css" href="main.scss">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.3.15/slick.css"/>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
  <script src="js/main.js" type="text/javascript"></script>
 </body>
</html>
