a {
    color: #DFA695;
    opacity: 0.7;
  }
  
  .slideshow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .slideshow .slider {
    width: 100vw;
    height: 100vw;
    z-index: 2;
  }
  .slideshow .slider * {
    outline: none;
  }
  .slideshow .slider .item {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    border: none;
  }
  .slideshow .slider .item .text {
    display: block;
  }
  .slideshow .slider .item img {
    min-width: 101%;
    min-height: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slideshow.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;
  }
  .slideshow.slideshow-right .slider {
    left: 0;
    position: absolute;
  }
  
  .slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 80px;
    width: 100vw;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 20px;
    line-height: 0.8;
  }
  @media (max-width: 767px) {
    .slideshow-text {
      font-size: 40px;
    }
  }
  
  body {
    font-family: "Century Gothic", 'Lato', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .et-hero-tabs, .et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #DFA695;
    text-align: center;
    padding: 0;
  }
  .et-hero-tabs.page h1, .et-hero-tabs.page h3, .et-slide.page h1, .et-slide.page h3 {
    position: relative;
    top: -100px;
  }
  .et-hero-tabs h1, .et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
    z-index: 2;
    color: #fafafa;
  }
  .et-hero-tabs h3, .et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.7;
    z-index: 2;
    color: #fafafa;
  }
  
  .et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
  }
  .et-hero-tabs-container--top {
    position: fixed;
    top: 0;
  }
  
  .et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
  }
  .et-hero-tab:hover {
    color: white;
    background: #DFA695;
    transition: all 0.5s ease;
  }
  
  .et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #DFA695;
    transition: left 0.3s ease;
  }
  
  @media (min-width: 800px) {
    .et-hero-tabs h1, .et-slide h1 {
      font-size: 3rem;
      z-index: 2;
      color: #fafafa;
    }
    .et-hero-tabs h3, .et-slide h3 {
      font-size: 1rem;
      z-index: 2;
      color: #fafafa;
    }
  
    .et-hero-tab {
      font-size: 1rem;
    }
  }
  .text-left {
    text-align: left !important;
  }
  
  .footer-m .copyright {
    text-align: center;
    padding: 2em 0;
    margin: 0;
    letter-spacing: 2px;
  }